name: Deploy to Hostinger

on:
  push:
    branches:
      - main  # Trigger the deployment when pushing to the main branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          yarn install
          yarn build  # Generate prod build

      - name: Deploy to Hostinger
        env:
          HOST: ${{ secrets.HOSTINGER_HOST }}
          USERNAME: ${{ secrets.HOSTINGER_USERNAME }}
          SSH_KEY: ${{ secrets.HOSTINGER_SSH_KEY }}

        run: |
          mkdir -p ~/.ssh
          echo "$SSH_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

          ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa -p 65002 $USERNAME@$HOST "
            rm -rf ~/public_html/* &&
            mkdir -p ~/public_html &&
            scp -r ./build/* $USERNAME@$HOST:~/public_html
          "
